.table {
    margin: auto;
    border-collapse: collapse;
    border-left: 3px solid #F79361;
    border-right: 3px solid #F79361;
    border-bottom: 3px solid #F79361;
    font-family: "Lucida Grande", sans-serif;
}

.table caption {
    background: #F79361;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
    color: white;
    font-family: "Roboto Slab",serif;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    margin: 0;
}
.table td, .table th {
    padding: 10px;
}
.table th {
    text-align: left;
    font-size: 18px;
}
.table tr:nth-child(2n) {
    background: #E5E5E5;
}
.table td:last-of-type {
    text-align: center;
}
.table a {
    display: inline-block;
    padding: 5px 10px;
    background: #F79361;
    box-shadow: 2px 2px 0 0 #a22800;
    position: relative;
    text-decoration: none;
    color: black;
}
.table a:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
}

.table label{
    padding: 10px;
    text-align: left;
    font-size: 18px;
}
.table input.sub{
    display: inline-block;
    padding: 5px 30px;
    background: #F79361;
    box-shadow: 2px 2px 0 0 #a22800;
    position: relative;
    margin-left: 115px;
}
.table input.sub:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;

}.table a.add1{
    display: inline-block;
    padding: 5px 35px;
    background: #F79361;
    box-shadow: 2px 2px 0 0 #a22800;
    position: relative;
    margin-left: -20px;
}
.table tr.bot {
    text-align: left;
    font-size: 18px;
    border-top: 2px solid #F79361;
}
.table a.add1:hover {
    box-shadow: none;
    top: 2px;
    left: 2px;
}

input[type="text"] {
    border: 2px solid #F79361;
    border-radius: 3px;
    margin-left: 10px;
    font-size: initial;
    padding-left: inherit;
    font-family: "Lucida Grande", sans-serif;
}